<footer class="container footer-top">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-12 mb-40">
            <div class="footer-widget">

                <h4 class="widget-title">Contacto</h4>

                <p class="contact-info">
                    <span><i class="fa-solid fa-location-dot"></i> Dirección:</span>
                    123 Calle Mayor, <br>
                    Madrid, España
                </p>

                <p class="contact-info">
                    <span><i class="fa-solid fa-phone"></i> Telefono</span>
                    <a href="tel:+34 631 124 567">+34 631 124 567</a>
                </p>

                <p class="contact-info">
                    <span> <i class="fa-solid fa-envelope"></i> Email</span>
                    <a href="mailto:email@website.com">email@website.com</a>
                </p>

            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-12 mb-40">
            <div class="footer-widget">

                <h4 class="widget-title">Atención al cliente</h4>

                <ul class="link-widget">
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Cesta de compra</a></li>
                    <li><a href="#">Pago</a></li>
                    <li><a href="#">Lista de deseos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>

            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-12 mb-40">
            <div class="footer-widget">

                <h4 class="widget-title">INFORMACIÓN</h4>

                <ul class="link-widget">
                    <li><a href="#">Localiza tu pedido</a></li>
                    <li><a href="#">Busca tu tienda mas cercana</a></li>
                    <li><a href="#">Soporte online</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">Sistemas de pago</a></li>
                </ul>

            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-12 mb-40">
            <div class="footer-widget">
                <h4 class="widget-title">Subscribete a nuestra newsletter</h4>
                <p>Suscribete y obten un 10% en tu primer pedido</p>
                <form id="Subscribe_form">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control emailInput" placeholder="Enter your email here" aria-label="Enter your email here"
                            aria-describedby="Subscribe_btn">
                        <button class="btn Subscribe_btn" type="button" id="Subscribe_btn">SUBSCRIBETE</button>
                    </div>
                </form>
                <img src="assets/images/payment-support.png" class="PaymentImg" alt="Payment methods">
            </div>
        </div>
    </div>
</footer>
