<div id="div-group">

    <div>

        <header></header>

        <navbar></navbar>
    </div>

    <div id="div-main">

        <side-menu></side-menu>


        <div class="product-details">
            <div class="product-images">
                <img class="main-image" [src]="product.image" alt="Product Image">
                <div class="thumbnail-images">
                    <img *ngFor="let image of product.additionalImages" [src]="image" alt="Additional Image">
                </div>
            </div>
            <div class="product-info">
                <h2>{{ product.name }}</h2>
                <p>Price: {{ product.price }}</p>
                <p>Seller: {{ product.seller }}</p>
                <p>Brand: {{ product.brand }}</p>
                <div class="quantity-selector">
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" [(ngModel)]="selectedQuantity" min="1">
                </div>
                <button (click)="addToCart()">Add to Cart</button>
                <button (click)="buyNow()">Buy Now</button>
                <div class="shipping-details">
                    <h3>Shipping Details:</h3>
                    <p>{{ product.shippingDetails }}</p>
                </div>
                <div class="warranty-details">
                    <h3>Warranty Details:</h3>
                    <p>{{ product.warrantyDetails }}</p>
                </div>
            </div>
        </div>




    </div>

    <footer></footer>



</div>